// variables

$primaryColor: #570057;
$primarySecondary: #cc06c6;
$tertiaryColor: #f70394;
$info: #635e;
$pink: hsl(322, 100%, 66%);
$VeryPaleCyan: hsl(193, 100%, 96%);
$VeryDarkCyan: hsl(192, 100%, 9%);
$GrayishBlue: hsl(208, 11%, 55%);
$pureColor: #fff;

// bordreRadius
$borderRadiusSmallBtn: 10px;
$borderRadiusLargeBtn: $borderRadiusSmallBtn * 2;

// box-shadow

$boxShadow: 0px 0px 4px rgba(30, 29, 29, 0.349);

// font-sizes
$fontSizeSmall: 16px;
$fontSizeLarge: $fontSizeSmall * 2;
